@model PublicInfoModel
@{
    Layout = "";

    //Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.qBoSlider/Scripts/jssor.js");
    //Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.qBoSlider/Scripts/jssor.slider.js");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.qBoSlider/Scripts/jssor.slider-27.5.0.min.js");

    Html.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/slider.css");

    string autoPlay = Model.AutoPlay ? "True" : string.Empty;
}
@using Nop.Web.Framework.UI
@using Nop.Plugin.Widgets.qBoSlider.Models;



<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:365px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
        <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="~/Plugins/Widgets.qBoSlider/Content/images/spin.svg" />
    </div>

    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:365px;overflow:hidden;">

        @foreach (var slide in Model.Slides)
        {
            <div>
                @if (!string.IsNullOrEmpty(slide.Hyperlink))
                {
                    <a href="@(string.IsNullOrEmpty(slide.Hyperlink) ? "#" : slide.Hyperlink)">
                        <img data-u="image" src="@slide.Picture" />
                        <div class="slide-description">
                            @Html.Raw(slide.Description)
                        </div>
                    </a>
                }
                else
                {
                    <img data-u="image" src="@slide.Picture" />
                    <div class="slide-description">
                        @Html.Raw(slide.Description)
                    </div>
                }
            </div>
        }
    </div>

    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb032" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
        <div data-u="prototype" class="i" style="width:16px;height:16px;">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="b" cx="8000" cy="8000" r="5800"></circle>
            </svg>
        </div>
    </div>
    <!-- Arrow Navigator -->
    <div data-u="arrowleft" class="jssora051" style="width:65px;height:65px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
        </svg>
    </div>
    <div data-u="arrowright" class="jssora051" style="width:65px;height:65px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
        </svg>
    </div>
</div>


<script asp-location="Footer">
    jQuery(document).ready(function ($) {

        var jssor_1_SlideoTransitions = [
            [{ b: -1, d: 1, o: -0.7 }],
            [{ b: 900, d: 2000, x: -379, e: { x: 7 } }],
            [{ b: 900, d: 2000, x: -379, e: { x: 7 } }],
            [{ b: -1, d: 1, o: -1, sX: 2, sY: 2 }, { b: 0, d: 900, x: -171, y: -341, o: 1, sX: -2, sY: -2, e: { x: 3, y: 3, sX: 3, sY: 3 } }, { b: 900, d: 1600, x: -283, o: -1, e: { x: 16 } }]
        ];

        var jssor_1_options = {
            $AutoPlay: Boolean('@autoPlay'),
                $AutoPlayInterval: @Model.AutoPlayInterval,
            $SlideDuration: @Model.SlideDuration,
                $MinDragOffsetToSlide: @Model.MinDragOffsetToSlide,
                //$SlideHeight: 300,
                $SlideSpacing: @Model.SlideSpacing,
            $SlideEasing: $Jease$.$OutQuint,
            $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
            },
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                    $ChanceToShow: @Model.ArrowNavigation,
                    $Steps: 1,
                    $Scale: false,
                    $AutoCenter: 2
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                    $ChanceToShow: @Model.BulletNavigation,
                    $AutoCenter: 1,
                    $Steps: 1,
                    $Lanes: 1,
                    $SpacingX: 10,
                    $SpacingY: 10,
                    $Orientation: 1,
                    $Scale: false
            }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

        /*#region responsive code begin*/

        var MAX_WIDTH = 3000;

        function ScaleSlider() {
            var containerElement = jssor_1_slider.$Elmt.parentNode;
            var containerWidth = containerElement.clientWidth;

            if (containerWidth) {

                var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                jssor_1_slider.$ScaleWidth(expectedWidth);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }

        ScaleSlider();

        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        /*#endregion responsive code end*/
    });
</script>


@*<script asp-location="Footer">
        jQuery(document).ready(function ($) {

            var _SlideshowTransitions = [
            {
                $Duration: 1200,
                $Opacity: 2
            }
            ];

            var options = {
                $FillMode: 2,
                $AutoPlay: Boolean('@autoPlay'),
                $AutoPlaySteps: 1,
                $AutoPlayInterval: @Model.AutoPlayInterval,
                $PauseOnHover: 1,

                $ArrowKeyNavigation: true,
                $SlideDuration: @Model.SlideDuration,
                $MinDragOffsetToSlide: @Model.MinDragOffsetToSlide,
                //$SlideHeight: 300,
                $SlideSpacing: @Model.SlideSpacing,
                $DisplayPieces: 1,
                $ParkingPosition: 0,
                $UISearchMode: 1,
                $PlayOrientation: 1,
                $DragOrientation: 1,

                $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,
                    $Transitions: _SlideshowTransitions,
                    $TransitionsOrder: 1,
                    $ShowLink: true
                },

                $BulletNavigatorOptions: {
                    $Class: $JssorBulletNavigator$,
                    $ChanceToShow: @Model.BulletNavigation,
                    $AutoCenter: 1,
                    $Steps: 1,
                    $Lanes: 1,
                    $SpacingX: 10,
                    $SpacingY: 10,
                    $Orientation: 1,
                    $Scale: false
                },

                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$,
                    $ChanceToShow: @Model.ArrowNavigation,
                    $Steps: 1,
                    $Scale: false,
                    $AutoCenter: 2
                }
            };
            var jssor_slider1 = new $JssorSlider$("slider-container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {

                //reserve blank width for margin+padding: margin+padding-left (10) + margin+padding-right (10)
                var paddingWidth = 0;

                //minimum width should reserve for text
                var minReserveWidth = 125;

                var parentElement = jssor_slider1.$Elmt.parentNode;

                //evaluate parent container width
                var parentWidth = parentElement.clientWidth;

                if (parentWidth) {

                    //exclude blank width
                    var availableWidth = parentWidth - paddingWidth;

                    //calculate slider width as 100% of available width
                    var sliderWidth = availableWidth;

                    //slider width is maximum 1920
                    sliderWidth = Math.min(sliderWidth, 1200);

                    //slider width is minimum 200
                    sliderWidth = Math.max(sliderWidth, 200);
                    var clearFix = "none";

                    //evaluate free width for text, if the width is less than minReserveWidth then fill parent container
                    if (availableWidth - sliderWidth < minReserveWidth) {

                        //set slider width to available width
                        sliderWidth = availableWidth;

                        //slider width is minimum 200
                        sliderWidth = Math.max(sliderWidth, 200);

                        clearFix = "both";
                    }

                    //clear fix for safari 3.1, chrome 3
                    //$('#clearFixDiv').css('clear', clearFix);

                    jssor_slider1.$ScaleWidth(sliderWidth);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>*@
