@model NewsletterBoxModel




    <div class="subscribe-content">
        <h4> <i class="fa fa-envelope-o" aria-hidden="true"></i>@T("Newsletter.Title")</h4>
        <p>Wish to receive hot news from Guptodhon? </p>
        <form class="form-inline subscribe-form">
            <div class="form-group mb-0">
                <input asp-for="NewsletterEmail" id="newsletter-email" class="newsletter-subscribe-text form-control" placeholder=@T("Newsletter.Email.Placeholder") aria-label="@T("Newsletter.Subscribe")" />
                @*<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Email...">*@

            </div>
            <input type="button" value="@T(Model.AllowToUnsubscribe ? "Newsletter.Options.Send" : "Newsletter.Options.Subscribe")" id="newsletter-subscribe-button" class="button-1 btn btn-solid newsletter-subscribe-button" />
            @*<button type="submit" class="">subscribe</button>*@
        </form>

        @if (Model.AllowToUnsubscribe)
        {
            <div class="options">
                <span class="subscribe">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="newsletter_subscribe" name="newsletter_block" class="custom-control-input" value="newsletter_subscribe" checked="checked" />
                        <label class="custom-control-label" for="newsletter_subscribe">@T("Newsletter.Options.Subscribe")</label>
                    </div>
                </span>
                <span class="unsubscribe">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="newsletter_unsubscribe" name="newsletter_block" class="custom-control-input" value="newsletter_unsubscribe" />
                        <label class="custom-control-label" for="newsletter_unsubscribe">@T("Newsletter.Options.Unsubscribe")</label>
                    </div>
                </span>
            </div>
        }

        <div class="newsletter-validation">
            <span id="subscribe-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            <span asp-validation-for="NewsletterEmail"></span>
        </div>



    <div class="newsletter-result" id="newsletter-result-block"></div>
    <script asp-location="Footer">
        function newsletter_subscribe(subscribe) {
            var subscribeProgress = $("#subscribe-loading-progress");
            subscribeProgress.show();
            var postData = {
                subscribe: subscribe,
                email: $("#newsletter-email").val()
            };
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeNewsletter"))",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    $("#newsletter-result-block").html(data.Result);
                    if (data.Success) {
                        $('#newsletter-subscribe-block').hide();
                        $('#newsletter-result-block').show();
                    } else {
                        $('#newsletter-result-block').fadeIn("slow").delay(2000).fadeOut("slow");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Failed to subscribe.');
                },
                complete: function (jqXHR, textStatus) {
                    subscribeProgress.hide();
                }
            });
        }

        $(document).ready(function () {
            $('#newsletter-subscribe-button').click(function () {
                @if (Model.AllowToUnsubscribe)
                {
                    <text>if ($('#newsletter_subscribe').is(':checked')) {
                    newsletter_subscribe('true');
                } else {
                    newsletter_subscribe('false');
                }</text>
                }
                else
                {
                    <text>newsletter_subscribe('true');</text>
                }
            });
            $("#newsletter-email").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#newsletter-subscribe-button").click();
                    return false;
                }
            });
        });
    </script>
</div>